<!-- <a class="btn btn-success me-3" routerLink="/add-employee">Add Employee</a> -->


<div>
    <p-button class="me-3" (click)="showDialog()" label="ADD EMPLOYEE" />
    <p-dialog header="ADD EMPLOYEE" class="text-center" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
            <form [formGroup]="addEmployeeForm"   class="p-5  border rounded-4 shadow  ">
                                  
                <input [value]="singleEmployeeeDetails.username"  [(ngModel)]="singleEmployeeeDetails.username" placeholder="Username" name="username" formControlName="username"  type="text" class="form-control mt-5" id="exampleInputusername" aria-describedby="usernameHelp">
                @if (addEmployeeForm.get('username')?.errors && addEmployeeForm.get('username')?.touched ) {
                    <div class="text-danger fw-bolder">*Invalid Username</div>
                }
                
                <input [value]="singleEmployeeeDetails.email" [(ngModel)]="singleEmployeeeDetails.email" placeholder="Email" name="email" formControlName="email"  type="email" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp">
                @if (addEmployeeForm.get('email')?.errors && addEmployeeForm.get('email')?.touched) {
                    <div class="text-danger fw-bolder">*Invalid Email</div>
        
                }
        
                <input [value]="singleEmployeeeDetails.job" [(ngModel)]="singleEmployeeeDetails.job" placeholder="Designation" name="job" formControlName="job"  type="text" class="form-control mt-3" id="exampleInputjob" aria-describedby="jobHelp">
                <!-- @if (addEmployeeForm.get('job')?.errors && addEmployeeForm.get('job')?.touched) { -->
                    <!-- <div class="text-danger fw-bolder">*Invalid Designation</div>
        
                } -->
                
                  <div class="d-flex justify-content-evenly">
                 
                        <button (click)="addEmployee()"  class="btn btn-success mt-5 me-2" type="submit">ADD EMPLOYEE</button>
                  
                  </div>
        
            </form>
    </p-dialog>
</div>
