<div>
    <p-button (click)="showDialog()" label="Edit" icon="fa-solid fa-pen-to-square" />
    <p-dialog header="EDIT EMPLOYEE" class="text-center" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
            <form [formGroup]="addEmployeeForm"   class="p-5  border rounded-4 shadow  ">
                                  
                <input [value]="employeeDetailsFromHome.username"  [(ngModel)]="employeeDetailsFromHome.username" placeholder="Username" name="username" formControlName="username"  type="text" class="form-control mt-5" id="exampleInputusername" aria-describedby="usernameHelp">
                @if (addEmployeeForm.get('username')?.errors && addEmployeeForm.get('username')?.touched ) {
                    <div class="text-danger fw-bolder">*Invalid Username</div>
                }
                
                <input [value]="employeeDetailsFromHome.email" [(ngModel)]="employeeDetailsFromHome.email" placeholder="Email" name="email" formControlName="email"  type="email" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp">
                @if (addEmployeeForm.get('email')?.errors && addEmployeeForm.get('email')?.touched) {
                    <div class="text-danger fw-bolder">*Invalid Email</div>
        
                }
        
                <input [value]="employeeDetailsFromHome.job" [(ngModel)]="employeeDetailsFromHome.job" placeholder="Designation" name="job" formControlName="job"  type="text" class="form-control mt-3" id="exampleInputjob" aria-describedby="jobHelp">
                
                        <button (click)="saveUpdates()"  class="btn btn-success mt-5 me-2" type="submit">SAVE UPDATES</button>       
            </form>
   </p-dialog>
</div>